[submodule "third_party/protocol"]
	path = third_party/protocol
	url = http://192.168.88.91:3000/chenhaibo/protocol.git
[submodule "third_party/algorithm"]
       path = third_party/algorithm
       url = http://192.168.88.91:3000/wangzhongju/algorithm.git
